name: Deploy Bicep file
on: [push]
jobs:
  build-and-deploy-dev:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@main

    - name: Log into Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Deploy Bicep file Dev
      uses: azure/arm-deploy@v1
      with:
        deploymentMode: Complete
        subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION }}
        resourceGroupName: bicep-testing-dev
        template: ./main.bicep
        parameters: 'enviroment=dev storagePrefix=mystore storageSKU=Standard_LRS'
        failOnStdErr: false
        
  build-and-deploy-test:
    runs-on: ubuntu-latest
    steps:
  
    - name: Checkout code
      uses: actions/checkout@main

    - name: Log into Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Deploy Bicep file Test
      uses: azure/arm-deploy@v1
      with:
        deploymentMode: Complete
        subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION }}
        resourceGroupName: bicep-testing-test
        parameters: 'enviroment=test storagePrefix=mystore storageSKU=Standard_LRS'
        template: ./main.bicep
        failOnStdErr: false
    
  build-and-deploy-prod:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@main

    - name: Log into Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Deploy Bicep file Prod
      uses: azure/arm-deploy@v1
      with:
        deploymentMode: Complete
        subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION }}
        resourceGroupName: bicep-testing
        parameters: 'enviroment=prod storagePrefix=mystore storageSKU=Standard_LRS'
        template: ./main.bicep
        failOnStdErr: false
