name: Deploy Bicep file
on: [push]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@main

    - name: Log into Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Deploy Bicep file Test
      uses: azure/arm-deploy@v1
      with:
        deploymentMode: Complete
        subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION }}
        resourceGroupName: 'bicep-testing-test'
        template: ./main.bicep
        failOnStdErr: false

    - name: Deploy Bicep file Prod
      uses: azure/arm-deploy@v1
      with:
        deploymentMode: Complete
        subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION }}
        resourceGroupName: 'bicep-testing'
        template: ./main.bicep
        failOnStdErr: false